version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pdf_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pdf_async
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: pdf_redis
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: pdf_api
    command: npm run dev:api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: pdf_worker
    command: npm run dev:worker
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
